<div class="filter">
  <a ui-sref="admin.questions_add" class="filter-add btn btn-success">Add Study</a>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="query" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="col-md-1"><input type="checkbox"></th>
      <th>Title</th>
      <th>Description</th>
      <th class="col-md-3">Handle</th>
    </tr>
  </thead>
  <tr ng-repeat="item in list | filter:query track by $index">
    <td><input type="checkbox"></td>
    <td>{{item.title}}</td>
    <td>{{item.description}}</td>
    <td>
      <a href="#/questions/edit/{{item.sid}}" class="table-handle-icon" uib-tooltip="Edit Question"><i class="ion ion-edit"></i></a>
      <a href="javascript:;" class="table-handle-icon" uib-tooltip="preview Question" ng-click="preview($index)"><i class="ion ion-eye"></i></a>
      <a href="javascript:;" class="table-handle-icon" uib-tooltip="Delete Question" ng-click="remove($index)"><i class="ion ion-android-delete"></i></a>
    </td>
  </tr>
</table>
