<div class="panel panel-default">
    <div class="panel-heading">Base Information</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Task Title</label>
        <input type="text" ng-model="title" class="form-control" placeholder="Title">
        <br/>
        <label>Select Study</label>
        <select class="form-control" ng-model="quest" ng-options="m.title for m in questions"></select>
        <br/>
        <label>Select Users</label>
        <h5 class="user-s-tit">selected:</h5>
        <div class="user-s-seled">
          <span class="label label-success" ng-repeat="item in users track by $index" ng-click="selected($index)" ng-if="item.checked" uib-tooltip="{{item.email}}">{{item.name}}</span>
        </div>
        <div class="user-swrap">
          <div class="user-s">
            <div class="user-s-tr" ng-repeat="item in users track by $index" ng-click="selected($index)" ng-if="item.uid > 1">
              <span ng-class="{'user-s-sel': true, active: item.checked}"><i class="ion ion-checkmark"></i></span>
              <span>{{item.name}}</span>
              <span>{{item.email}}</span>
              <span>{{item.location}}</span>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <label>Reminder</label>
        <div class="form-inline set-reminder">
          <div class="form-group">
              <label for="">days</label>
              <input type="number" ng-model="t2.day" class="form-control" min="1" style="width:80px">
              <br/>
              <br/>
              <label for="">hours</label>
              <div class="time-ctrl" ng-repeat="h in t2.hours track by $index">
                <a href="javascript:;" ng-if="$index > 0" ng-click="removeItem('hours', $index)" class="task-choice-delbtn"><i class="ion ion-minus-circled"></i></a>
                <input type="number" ng-model="t2.hours[$index]" class="form-control" min="0" max="23" style="width:80px">
              </div>
              <a href="javascript:;" style="margin-left:0" ng-click="addItem('hours')" class="ctrl-choice-addbtn"><i class="ion ion-plus-circled"></i></a>
              <br/>
              <br/>
              <label for="">minutes</label>
              <div class="time-ctrl" ng-repeat="m in t2.minutes track by $index">
                <a href="javascript:;" ng-if="$index > 0" ng-click="removeItem('minutes', $index)" class="task-choice-delbtn"><i class="ion ion-minus-circled"></i></a>
                <input type="number" ng-model="t2.minutes[$index]" class="form-control" min="1" max="59" style="width:80px">
              </div>
              <a href="javascript:;" style="margin-left:0" ng-click="addItem('minutes')" class="ctrl-choice-addbtn"><i class="ion ion-plus-circled"></i></a>
          </div>
        </div>
        <br/>
        <br/>
        <label>Duration</label>
        <div class="form-inline set-duration">
          <div class="form-group">
            <label for="">start date</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="d.date" uib-datepicker-popup="yyyy/MM/dd" min-date="d.minDate" alt-input-formats="d.altFormats" is-open="d.isOpen" datepicker-options="d.options">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="d.open()"><i class="ion ion-ios-calendar-outline"></i></button>
              </span>
            </div>
            <label for=""> end date</label>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="b.date" uib-datepicker-popup="yyyy/MM/dd" min-date="b.minDate" alt-input-formats="b.altFormats" is-open="b.isOpen" datepicker-options="b.options">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="b.open()"><i class="ion ion-ios-calendar-outline"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="question-btn">
  <button type="button" ng-click="submit()" class="btn btn-success">Release</button>
</p>
