<div class="filter">
  <a ui-sref="admin.tasks_add" class="filter-add btn btn-success">Add Task</a>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="query" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" ng-click="ckAll($event)"></th>
      <th>Title</th>
      <th>users</th>
      <th>Study</th>
      <th>reminder</th>
      <th>start Date</th>
      <th>end Date</th>
      <th>Handle</th>
    </tr>
  </thead>
  <tr ng-repeat="item in list | filter:query track by $index">
    <td><input type="checkbox" ng-model="item.checked"></td>
    <td>{{item.title}}</td>
    <td>{{item.users}}</td>
    <td>{{item.question}}</td>
    <td>{{item.reminder}}</td>
    <td>{{item.startDate}}</td>
    <td>{{item.endDate}}</td>
    <td>
      <!--<a href="#/tasks/edit/{{item.sid}}" class="table-handle-icon" uib-tooltip="Edit Task"><i class="ion ion-edit"></i></a>-->
      <a href="#/results/{{item.sid}}" class="table-handle-icon" uib-tooltip="view result"><i class="ion ion-eye"></i></a>
      <!--<a href="javascript:;" class="table-handle-icon" uib-tooltip="Delete Task"><i class="ion ion-android-delete"></i></a>-->
    </td>
  </tr>
</table>
