<div class="filter">
  <a href="javascript:;" class="filter-del btn btn-danger">Selected Delete</a>
  <a href="javascript:;" class="filter-add btn btn-success" ng-click="addUser()">Add User</a>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" ng-click="ckAll($event)"></th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Job</th>
      <th>Mobile OS</th>
      <th>Mobile brand</th>
      <th>PC OS</th>
      <th>State</th>
      <th>Location</th>
      <th>Handle</th>
    </tr>
  </thead>
  <tr ng-repeat="item in list track by $index">
    <td><input type="checkbox" ng-model="item.checked"></td>
    <td>{{item.name}}</td>
    <td><a href="mailto:{{item.email}}">{{item.email}}</a></td>
    <td>{{item.gender}}</td>
    <td>{{item.age}}</td>
    <td>{{item.job}}</td>
    <td>{{item.mobileos}}</td>
    <td>{{item.mobilebd}}</td>
    <td>{{item.pcos}}</td>
    <td><span class="label label-success">1 Task</span></td>
    <td>{{item.location}}</td>
    <td><a href="javascript:;" class="table-handle-icon" uib-tooltip="Edit User"><i class="ion ion-edit"></i></a><a href="javascript:;" class="table-handle-icon" uib-tooltip="Delete User"><i class="ion ion-android-delete"></i></a></td>
  </tr>
</table>
