* {
	outline:none !important;
	-moz-outline: none !important;
}
html, body{
  height:100%
}
/* Main */

/*Bootstrap-overlay*/

body {
	overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  color:#666;
  line-height: 20px;
  background-color: #2E363F
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color:#666;
}
a:hover, a:focus {
	text-decoration: none;
  color:#28b779;
}
.btn .ion{
	font-size: 1.2em;
	margin-right: 5px;
}
.panel-heading .ion{
	font-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

#head{
  position: relative;
  height: 40px;
  background-color: #1f262d;
  border-bottom: 1px solid #000;
}
#sidebar{
  width: 220px;
  float: left;
}
#main{
  position: absolute;
  left: 220px;
  top: 40px;
  bottom: 0;
  right: 0;
  background-color: #eee;
  overflow-x: hidden;
  overflow-y: auto;
}
.logo{
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 50px;
  font-size: 14px;
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
  opacity: .3;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.logo:hover{
  opacity: 1;
}
.logo i{
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 27px;
}
.breadcrumb > li > a{
  color: #27a9e3
}
.side_menu{

}
.side_menu .badge{
  position: absolute;
  right: 20px;
  top: 12px;
}
.side_menu > li{
  overflow: hidden;
  position: relative;
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
}
.side_menu > li.active{
  border-top: 1px solid #27a9e3;
  border-bottom: 1px solid #27a9e3;
  background-color: #27a9e3;
}
.side_menu > li.active::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #eee;
  top: 50%;
  right: -5px;
  margin-top: -5px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.side_menu > li > a{
  padding: 10px 0 10px 15px;
  display: block;
  color: #939da8;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}
.side_menu > li > a:hover, .side_menu > li.active > a{
  background-color: #27a9e3;
  color: #fff
}
.side_menu > li > a:hover i, .side_menu > li.active > a > i{
  background-color: #27a9e3;
  color: #fff;
  opacity: .7;
}
.side_menu > li > a > i{
  font-size: 14px;
  margin-right: 8px;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}


#content{
  padding: 20px;
  padding-top: 0;
}
#login{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
}
#form-box{
  width: 300px;
}
.quick-actions{
  overflow: hidden;
  margin-bottom: 25px;
}
.quick-actions li{
  float: left;
  color: #fff;
  line-height: 18px;
  margin: 0 10px 10px 0px;
	position: relative;
}
.quick-actions li a{
  display: block;
  padding: 10px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
	background-color: rgba(0,0,0,0);
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
.quick-actions li a i[class^="ion"]{
    font-size: 30px;
    display: block;
    margin: 0 auto 5px;
    width: 1.25em;
    text-align: center;
		opacity: 1;
		-webkit-transform: scale(1);
	  transform: scale(1);
		-webkit-transition: -webkit-transform 200ms ease;
	  transition: transform 200ms ease;
}
.quick-actions li:hover a{
		background-color: rgba(0,0,0,.6);
}
.quick-actions li:hover a i[class^="ion"]{
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
}

.quick-actions li:hover{

}
.quick-actions .qa-dash{
  background-color: #27a9e3
}
.quick-actions .qa-addu{
  background-color: #da542e
}
.quick-actions .qa-addq{
  background-color: #ffb848
}
.quick-actions .qa-addt{
  background-color: #28b779
}
.quick-actions .qa-set{
  background-color: #2255a4
}

.table{
	background-color: #fff
}
.table th {
    font-weight: normal;
    text-shadow: rgba(255,255,255,0.8) 0 1px 0;
    background: #f1f1f1;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
    background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image: linear-gradient(to top,#ececec,#f9f9f9);
}
.table-handle-icon{
	font-size: 16px;
	margin-right: 10px;
	vertical-align: middle;
}
.label{
	padding-top: .4em;
}
.filter{
	padding-bottom: 15px;
	overflow: hidden;
}
.filter-del, .filter-add, .filter .form-control{
	float: left;
	margin-right: 20px;
}
.filter-qadd .form-control{
	width: 180px;
}
.filter .input-group{
	width: 250px;
}
.ctrl-title .form-control{
	width: 300px;
	margin-left: 10px;
}
.ctrl-choice-addbtn{
	font-size: 28px;
	color: #333;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.ctrl-choices{
	margin-top: 10px;
}
.ctrl-choices .ctrl-choices-item{
	position: relative;
	width: 120px;
	height: 52px;
	margin: 0 5px 5px 0;
	float: left;
}
.ctrl-choices-item:hover a{
	display: inline-block;
}
.ctrl-choices-item a{
	font-size: 16px;
	display: none;
}
.ctrl-choices-item a:hover{
	color: #c00
}
.question-btn .btn{
	margin-right: 15px;
}
.panel-heading{
	position: relative;
}
.panel-heading .panel-close{
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 20px;
}
.preview{
	padding: 0 15px;
}
.preview-title {
	text-align: center;
}
.preview-desp{
	font-size: 13px;
	color: #999
}
.preview-ctrl{
	margin-top: 30px;
}
.preview-ctrl .radio-inline, .preview-ctrl .checkbox-inline{
	margin-right: 15px;
}
.preview-ctrl .radio-inline + .radio-inline, .preview-ctrl .checkbox-inline + .checkbox-inline{
	margin-left: 0;
	margin-right: 15px;
}

.form-adduser .form-group{
	padding: 0 20px;
}
.form-adduser .radio label{
	margin-right: 10px;
}
.com_img.ion{
	display: inline-block;
	margin-right: 10px;
	background-color: #eee;
	width: 40px;
	height: 40px;
	font-size: 18px;
	color: #999;
	text-align: center;
	line-height: 40px;
	position: relative;
	margin-bottom: 5px;
}
.com_img input{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.img_view{
	margin-left: 10px;
}
.form-group.img_view input{
	width: 60px;
}
/*
.addu_label{
	width: 70px;
	text-align: right;
	padding-right: 10px;
}
*/
.user-s{
	display: table;
	width: 100%;
}
.user-s-tr{
	cursor: pointer;
	display: table-row;
}
.user-s-tr span{
	display: table-cell;
	padding: 5px;
	border-bottom: 1px solid #eee
}
.user-s-tr:hover span{
	background-color: #f5f5f5
}
.user-s-tr .active{
	color: #5cb85c
}
.user-s-sel{
	width: 40px;
	color: #ddd;
	font-size: 17px;
	text-align: center;
}
.user-s-tit{
	font-size: 12px;
}
.user-s-seled{
	padding: 5px;
	border: 1px dashed #ddd;
	box-shadow: 0 1px 8px rgba(0,0,0,.1)
}
.user-swrap{
	margin-top: 15px;
	max-height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ddd;
	border-bottom: 0 none;
	box-shadow: 0 1px 8px rgba(0,0,0,.2)
}
.user-s-seled span{
	cursor: pointer;
	margin: 5px 0 0 5px;
}
